    /* Fuente de toda la página*/
    div,a, a:link, a:active, a:visited, div h2, div h4 {
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
        color: #FFFFFF;
        text-decoration: none;
    }

    h2.d-flex {
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
        font-size:35px;
    }

    /* Hover de links */
    h2 a:hover, ul li a:hover, nav ul li a:hover, .nav .nav-item a:hover, .nav .nav-item a:focus, a .dropdown-toggle, a.login:hover{
        text-decoration: none;
        color: #FF9225;
    }

    h3.d-flex,h1, h3.login {
        font-family: "Poppins", serif; !important;
        font-weight: 400; !important;
        font-style: normal; !important;
        color: #FF9225;
    }

    /* Fuente de dropdowns de nav y párrafos*/
    p, .dropdown-menu li a, .login, a.login, label.texto-label {
        color: #000000;
    }

    .descripcion {
        color: #FFFFFF;
        font-size:18px;
    }

    /* Hover de dropdowns de nav*/
    .nav .dropdown-menu li a:hover {
        background: #FFDCE4;
    }

    img {
        height: 400px;
        object-fit: contain;
    }

    ul {
        list-style-type: none;
    }

    body {
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    header {
        min-height: 50px;
        background: #57211C;
    }

    main {
        flex: 1;
    }

    footer {
        background: #57211C;
        min-height: 50px;
    }

    .footer-top {
    }

    .footer-bottom {

    }

    .contenido {
        /*background: #FFFFFF;*/
    }

    .titulo-principal {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-size: 32px;
        font-style: normal;
        color: #FF9225;
    }

    /* Botones */
    a.btn.btn-primary, .btn.btn-primary {
        background-color: #FF9225; !important;
        border-color: #FF9225; !important;
    }
    a.btn.btn-primary:hover, .btn.btn-primary:hover {
        background-color: #b86a22; !important;
        border-color: #b86a22; !important;
        color: #FFFFFF;
    }
/* Botones */
a.btn.btn-primary, .btn.btn-primary {
    background-color: #FF9225; !important;
    border-color: #FF9225; !important;
    color: #FFFFFF;
}
a.btn.btn-primary:hover, .btn.btn-primary:hover {
    background-color: #b86a22; !important;
    border-color: #b86a22; !important;
    color: #FFFFFF;
}

    .home {
        background-image: url("../img/fondov2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    .img-home-1{
        height: 600px;
        object-fit: contain;
    }
    .img-home-2{
        height: 200px;
        object-fit: contain;
    }

    .img-hover-gray {
        transition: filter 0.3s ease;
        filter: grayscale(100%);
    }
    .img-hover-gray:hover {
        filter: grayscale(0%);
    }

/** ===================================== DONACIONES ====================================**/
.non-square {
    width: 160vw;
    height: 105vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .non-square-distrib {
        width: 160vw;
        height: 120vh;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/*para todas*/
.img-torcida {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    .img-torcida-dinero {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.label-formulario {
    width: 390px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
    .borde-blanco {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 48px 63px;
        position: relative;
        border: 2px solid #ffffff;
        border-radius: 15px;
        gap: 20px;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .label-formulario {
        width: 390px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

.label .texto-label {
    font-family: "Poppins", serif;
    font-weight: 400;
    color: #000000b2;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 5px;
}
    #frecuencia:hover {
        background-color: #FFDCE4;
        color:  #f2902f; /* Blanco */
    }

    .label .texto-label {
        font-family: "Poppins", serif;
        font-weight: 400;
        color: #000000b2;
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
        margin-bottom: 5px;
    }

    .label .info-tarjeta{
        position: fixed;
        width: 355px;
        top: 0;
        left: 0;
        font-family: "Poppins", serif;
        font-weight: 700;
        color: #ffffff;
        font-size: 24px;
        letter-spacing: 0.20px;
        line-height: 30px;
    }

    .donar-bt {
        display: flex;
        width: 102px;
        height: 49px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 15px 30px;
        position: relative;
        background-color: #f2902f;
        border-radius: 60px;
        color: #FFFFFF;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        margin-left: auto;

    }

    .donar-bt:hover {
        background-color: #b86a22;
        color: #FFFFFF;
    }

    .donar-bt:active {
        background-color: #9a561b;
    }


    /* BEGIN - TOMAS ARAUJO */
    :root {
        --dl-size-size-large: 144px;
        --dl-size-size-small: 48px;
        --dl-size-size-medium: 96px;
        --dl-size-size-xlarge: 192px;
        --dl-size-size-xsmall: 16px;
        --dl-space-space-unit: 16px;
        --dl-size-size-xxlarge: 288px;
        --dl-size-size-maxwidth: 1400px;
        --dl-color-theme-accent1: #FFFFFF;
        --dl-color-theme-accent2: #F5D1B0;
        --dl-radius-radius-round: 50%;
        --dl-color-theme-primary1: #BF4408;
        --dl-color-theme-primary2: #E65103;
        --dl-space-space-halfunit: 8px;
        --dl-space-space-sixunits: 96px;
        --dl-space-space-twounits: 32px;
        --dl-radius-radius-radius2: 2px;
        --dl-radius-radius-radius4: 4px;
        --dl-radius-radius-radius8: 8px;
        --dl-space-space-fiveunits: 80px;
        --dl-space-space-fourunits: 64px;
        --dl-color-theme-secondary1: #FFFFFF;
        --dl-color-theme-secondary2: #FBF1EB;
        --dl-space-space-threeunits: 48px;
        --dl-color-theme-neutral-dark: #191818;
        --dl-radius-radius-cardradius: 8px;
        --dl-color-theme-neutral-light: #FBFAF9;
        --dl-radius-radius-imageradius: 8px;
        --dl-radius-radius-inputradius: 24px;
        --dl-radius-radius-buttonradius: 24px;
        --dl-space-space-oneandhalfunits: 24px;
      }
      .button {
        color: var(--dl-color-theme-neutral-dark);
        display: inline-block;
        padding: 0.5rem 1rem;
        border-color: var(--dl-color-theme-neutral-dark);
        border-width: 1px;
        border-radius: 4px;
        background-color: var(--dl-color-theme-neutral-light);
      }
      .input {
        color: var(--dl-color-theme-neutral-dark);
        cursor: auto;
        padding: 0.5rem 1rem;
        border-color: var(--dl-color-theme-neutral-dark);
        border-width: 1px;
        border-radius: 4px;
        background-color: var(--dl-color-theme-neutral-light);
      }
      .textarea {
        color: var(--dl-color-theme-neutral-dark);
        cursor: auto;
        padding: 0.5rem;
        border-color: var(--dl-color-theme-neutral-dark);
        border-width: 1px;
        border-radius: 4px;
        background-color: var(--dl-color-theme-neutral-light);
      }
      .list {
        width: 100%;
        margin: 1em 0px 1em 0px;
        display: block;
        padding: 0px 0px 0px 1.5rem;
        list-style-type: none;
        list-style-position: outside;
      }
      .list-item {
        display: list-item;
      }
      .teleport-show {
        display: flex !important;
        transform: none !important;
      }
      .thq-input {
        color: var(--dl-color-theme-neutral-dark);
        cursor: auto;
        outline: none;
        padding: 0.5rem 1rem;
        align-self: stretch;
        text-align: center;
        border-color: var(--dl-color-theme-neutral-dark);
        border-width: 1px;
        border-radius: var(--dl-radius-radius-inputradius);
        background-color: var(--dl-color-theme-neutral-light);
      }
      .thq-input:focus {
        outline: 1px solid var(--dl-color-theme-primary1);
      }
      .thq-button-filled {
        gap: var(--dl-space-space-halfunit);
        fill: var(--dl-color-theme-secondary1);
        color: var(--dl-color-theme-secondary1);
        cursor: pointer;
        display: flex;
        transition: 0.3s;
        align-items: center;
        font-weight: bold;
        padding-top: var(--dl-space-space-halfunit);
        white-space: nowrap;
        border-color: var(--dl-color-theme-primary1);
        border-width: 1px;
        padding-left: var(--dl-space-space-oneandhalfunits);
        border-radius: var(--dl-radius-radius-buttonradius);
        padding-right: var(--dl-space-space-oneandhalfunits);
        padding-bottom: var(--dl-space-space-halfunit);
        justify-content: center;
        background-color: var(--dl-color-theme-primary1);
      }
      .thq-button-filled:hover {
        fill: var(--dl-color-theme-secondary2);
        color: var(--dl-color-theme-secondary2);
        border-color: var(--dl-color-theme-primary2);
        background-color: var(--dl-color-theme-primary2);
      }
      .thq-button-outline {
        gap: var(--dl-space-space-halfunit);
        fill: var(--dl-color-theme-primary1);
        color: var(--dl-color-theme-primary1);
        border: 1px solid;
        cursor: pointer;
        display: flex;
        transition: 0.3s;
        align-items: center;
        font-weight: bold;
        padding-top: var(--dl-space-space-halfunit);
        white-space: nowrap;
        border-color: var(--dl-color-theme-primary1);
        padding-left: var(--dl-space-space-oneandhalfunits);
        border-radius: var(--dl-radius-radius-buttonradius);
        padding-right: var(--dl-space-space-oneandhalfunits);
        padding-bottom: var(--dl-space-space-halfunit);
        justify-content: center;
      }
      .thq-button-outline:hover {
        fill: var(--dl-color-theme-secondary2);
        color: var(--dl-color-theme-secondary2);
        border-color: var(--dl-color-theme-primary2);
        background-color: var(--dl-color-theme-primary2);
      }
      .thq-button-flat {
        gap: var(--dl-space-space-halfunit);
        fill: var(--dl-color-theme-primary1);
        color: var(--dl-color-theme-primary1);
        cursor: pointer;
        display: flex;
        transition: 0.3s;
        align-items: center;
        font-weight: bold;
        padding-top: var(--dl-space-space-halfunit);
        white-space: nowrap;
        border-color: transparent;
        border-width: 1px;
        padding-left: var(--dl-space-space-oneandhalfunits);
        border-radius: var(--dl-radius-radius-buttonradius);
        padding-right: var(--dl-space-space-oneandhalfunits);
        padding-bottom: var(--dl-space-space-halfunit);
        justify-content: center;
      }
      .thq-button-flat:hover {
        fill: var(--dl-color-theme-secondary1);
        color: var(--dl-color-theme-secondary1);
        border-color: var(--dl-color-theme-primary2);
        background-color: var(--dl-color-theme-primary2);
      }
      .thq-heading-1 {
        font-size: 48px;
        font-family: STIX Two Text;
        font-weight: 700;
        line-height: 1.5;
      }
      .thq-heading-2 {
        font-size: 35px;
        font-family: STIX Two Text;
        font-weight: 600;
        line-height: 1.5;
      }
      .thq-heading-3 {
        font-size: 26px;
        font-family: STIX Two Text;
        font-weight: 600;
        line-height: 1.5;
      }
      .thq-body-large {
        font-size: 18px;
        font-family: Noto Sans;
        line-height: 1.5;
      }
      .thq-body-small {
        font-size: 16px;
        font-family: Noto Sans;
        line-height: 1.5;
      }
      .thq-team-image-round {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
      }
      .thq-section-padding {
        width: 100%;
        display: flex;
        padding: var(--dl-space-space-fiveunits);
        position: relative;
        align-items: center;
        flex-direction: column;
      }
      .thq-section-max-width {
        width: 100%;
        max-width: var(--dl-size-size-maxwidth);
      }
      .thq-img-ratio-1-1 {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
        border-radius: var(--dl-radius-radius-imageradius);
      }
      .thq-img-ratio-16-9 {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 16/9;
        border-radius: var(--dl-radius-radius-imageradius);
      }
      .thq-img-ratio-4-3 {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 4/3;
        border-radius: var(--dl-radius-radius-imageradius);
      }
      .thq-img-ratio-4-6 {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 4/6;
        border-radius: var(--dl-radius-radius-imageradius);
      }
      .thq-img-round {
        width: 100%;
        border-radius: var(--dl-radius-radius-round);
      }
      .thq-flex-column {
        gap: var(--dl-space-space-twounits);
        display: flex;
        overflow: hidden;
        position: relative;
        align-items: center;
        flex-direction: column;
      }
      .thq-flex-row {
        gap: var(--dl-space-space-twounits);
        display: flex;
        overflow: hidden;
        position: relative;
        align-items: center;
      }
      .thq-grid-6 {
        display: grid;
        grid-gap: var(--dl-space-space-twounits);
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      }
      .thq-grid-5 {
        display: grid;
        grid-gap: var(--dl-space-space-twounits);
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
      .thq-card {
        gap: var(--dl-space-space-oneandhalfunits);
        display: flex;
        padding: var(--dl-space-space-twounits);
        align-items: stretch;
        border-radius: var(--dl-radius-radius-cardradius);
        flex-direction: column;
      }
      .thq-box-shadow {
        box-shadow: 0px 0px 5px -2px var(--dl-color-theme-neutral-dark);
      }
      .thq-grid-3 {
        display: grid;
        grid-gap: var(--dl-space-space-twounits);
        grid-template-columns: 1fr 1fr 1fr;
      }
      .thq-grid-4 {
        display: grid;
        grid-gap: var(--dl-space-space-twounits);
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      .thq-grid-2 {
        width: 100%;
        display: grid;
        grid-gap: var(--dl-space-space-twounits);
        grid-template-columns: 1fr 1fr;
      }
      .thq-checkbox {
        width: var(--dl-size-size-xsmall);
        height: var(--dl-size-size-xsmall);
      }
      .thq-select {
        cursor: pointer;
        appearance: none;
        padding-top: var(--dl-space-space-halfunit);
        padding-left: var(--dl-space-space-unit);
        border-radius: var(--dl-radius-radius-inputradius);
        padding-right: var(--dl-space-space-twounits);
        padding-bottom: var(--dl-space-space-halfunit);
        background-color: var(--dl-color-theme-neutral-light);
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg width%3D%2220%22 height%3D%2220%22 xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 20 20%22 fill%3D%22%23000%22%3E%3Cpath d%3D%22M4.293 7.293a1 1 0 011.414 0L10 11.586l4.293-4.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z%22/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: right 8px center;
      }
      .thq-divider-horizontal {
        width: 100%;
        height: 1px;
        background-color: var(--dl-color-theme-neutral-dark);
      }
      .thq-icon-small {
        width: 24px;
        height: 24px;
      }
      .thq-button-icon {
        fill: var(--dl-color-theme-secondary1);
        padding: 3px;
        transition: 0.3s;
        border-radius: var(--dl-radius-radius-round);
      }
      .thq-button-icon:hover {
        fill: var(--dl-color-theme-secondary2);
      }
      .thq-icon-medium {
        width: var(--dl-size-size-small);
        height: var(--dl-size-size-small);
      }
      .thq-icon-x-small {
        width: var(--dl-size-size-xsmall);
        height: var(--dl-size-size-xsmall);
      }
      .thq-link {
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        background: linear-gradient(to right, var(--dl-color-theme-primary1) 50%, var(--dl-color-theme-neutral-dark) 50%);
        transition: background-position 300ms ease;
        font-weight: 600;
        background-clip: text;
        background-size: 200% 100%;
        background-position: 100%;
        -webkit-text-fill-color: transparent;
      }
      .thq-link:hover {
        background-position: 0 100%;
      }
      .thq-grid-auto-300 {
        display: grid;
        grid-gap: var(--dl-space-space-oneandhalfunits);
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
      .thq-animated-group-vertical-reverse {
        gap: var(--dl-space-space-unit);
        width: 100%;
        display: flex;
        animation: scroll-y 20s linear infinite;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-around;
        animation-direction: reverse;
      }
      .thq-animated-group-horizontal-reverse {
        gap: var(--dl-space-space-unit);
        display: flex;
        animation: scroll-x 20s linear infinite;
        min-width: 100%;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-around;
        animation-direction: reverse;
      }
      .thq-animated-group-vertical {
        gap: var(--dl-space-space-unit);
        width: 100%;
        display: flex;
        animation: scroll-y 20s linear infinite;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-around;
      }
      .thq-animated-group-horizontal {
        gap: var(--dl-space-space-unit);
        display: flex;
        animation: scroll-x 20s linear infinite;
        min-width: 100%;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-around;
      }
      .thq-animated-group-container-vertical {
        gap: var(--dl-space-space-unit);
        display: flex;
        overflow: hidden;
        flex-direction: column;
      }
      .thq-animated-group-container-horizontal {
        gap: var(--dl-space-space-unit);
        display: flex;
        overflow: hidden;
      }
      .thq-mask-image-vertical {
        mask-image: linear-gradient(to bottom, transparent, black 1%, black 99%, transparent);
      }
      .thq-mask-image-horizontal {
        mask-image: linear-gradient(to right, transparent, black 1%, black 99%, transparent);
      }
      .thq-img-scale {
        transition: 0.3s;
      }
      .thq-img-scale:hover {
        scale: 1.05;
      }
      .thq-animated-card-bg-1 {
        width: 100%;
        height: 100%;
        transition: transform 0.3s;
        border-radius: var(--dl-radius-radius-cardradius);
        background-color: var(--dl-color-theme-accent1);
      }
      .thq-animated-card-bg-2 {
        transition: transform 0.3s;
        border-radius: var(--dl-radius-radius-cardradius);
        background-color: var(--dl-color-theme-accent2);
      }
      .thq-button-animated {
        outline: none;
        z-index: 1;
        overflow: hidden;
        position: relative;
        border-width: 2px;
      }
      .thq-input::placeholder {
        text-align: center;
        vertical-align: middle;
      }
      .thq-animated-group-container-vertical:hover div {
        animation-play-state: paused;
      }
      .thq-animated-group-container-horizontal:hover div {
        animation-play-state: paused;
      }
      .thq-animated-card-bg-2:has([data-animated="true"]:hover) {
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(3deg) skew(0deg, 0deg);
      }
      .thq-animated-card-bg-1:has([data-animated="true"]:hover) {
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-6deg) skew(0deg, 0deg);
      }
      .thq-button-animated:before {
        top: 0;
        left: -20%;
        color: var(--dl-color-theme-neutral-light);
        width: 200%;
        height: 101%;
        content: "";
        z-index: 1;
        position: absolute;
        transform: scaleX(0);
        transition: transform 0.5s;
        border-radius: var(--dl-radius-radius-buttonradius);
        background-color: var(--dl-color-theme-neutral-dark);
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
      }
      .thq-button-animated:hover::before {
        color: var(--dl-color-theme-neutral-light);
        z-index: -1;
        transform: scaleX(1);
      }
      .Content {
        font-size: 16px;
       font-family: "Poppins", serif;
        font-weight: 400;
        line-height: 1.15;
        text-transform: none;
        text-decoration: none;
      }
      .SingleLineBodyBase {
        font-size: 16px;
        font-style: normal;
       font-family: "Poppins", serif;
        font-weight: 400;
        font-stretch: normal;
        letter-spacing: 0em;
      }
      .BodySmall {
        font-size: 14px;
        font-style: normal;
       font-family: "Poppins", serif;
        font-weight: 400;
        font-stretch: normal;
        letter-spacing: 0em;
      }
      .BodyStrong {
        font-size: 16px;
        font-style: normal;
        font-family: "Poppins", serif;
        font-weight: 700;
        font-stretch: normal;
        letter-spacing: 0em;
      }
      .BodyBase {
        font-size: 16px;
        font-style: normal;
       font-family: "Poppins", serif;
        font-weight: 400;
        font-stretch: normal;
        letter-spacing: 0em;
      }
      @media(max-width: 991px) {
        .thq-grid-4 {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
      @media(max-width: 767px) {
        .thq-section-padding {
          padding: var(--dl-space-space-threeunits);
        }
        .thq-flex-column {
          gap: var(--dl-space-space-oneandhalfunits);
        }
        .thq-flex-row {
          gap: var(--dl-space-space-oneandhalfunits);
        }
        .thq-grid-6 {
          grid-gap: var(--dl-space-space-oneandhalfunits);
          grid-template-columns: 1fr 1fr 1fr;
        }
        .thq-grid-5 {
          grid-gap: var(--dl-space-space-oneandhalfunits);
          grid-template-columns: 1fr 1fr 1fr;
        }
        .thq-card {
          padding: var(--dl-space-space-oneandhalfunits);
        }
        .thq-grid-3 {
          grid-gap: var(--dl-space-space-oneandhalfunits);
          grid-template-columns: 1fr 1fr;
        }
        .thq-grid-4 {
          grid-gap: var(--dl-space-space-oneandhalfunits);
          flex-direction: row;
          grid-template-columns: 1fr 1fr;
        }
        .thq-grid-2 {
          grid-gap: var(--dl-space-space-oneandhalfunits);
          grid-template-columns: 1fr;
        }
        .thq-img-scale {
          width: 100%;
        }
      }
      @media(max-width: 479px) {
        .thq-section-padding {
          padding: var(--dl-space-space-oneandhalfunits);
        }
        .thq-flex-column {
          gap: var(--dl-space-space-unit);
        }
        .thq-flex-row {
          gap: var(--dl-space-space-unit);
        }
        .thq-grid-6 {
          grid-gap: var(--dl-space-space-unit);
          grid-template-columns: 1fr 1fr;
        }
        .thq-grid-5 {
          grid-gap: var(--dl-space-space-unit);
          grid-template-columns: 1fr 1fr;
        }
        .thq-grid-3 {
          grid-gap: var(--dl-space-space-unit);
          align-items: center;
          grid-template-columns: 1fr;
        }
        .thq-grid-4 {
          grid-gap: var(--dl-space-space-unit);
          align-items: center;
          flex-direction: column;
          grid-template-columns: 1fr;
        }
        .thq-grid-2 {
          grid-gap: var(--dl-space-space-unit);
        }
        .thq-grid-auto-300 {
          grid-template-columns: 1fr;
        }
      }

      .body-container {
        width: 100%;
        display: flex;
        overflow: auto;
        min-height: 100vh;
        align-items: center;
        flex-direction: column;
      }
      .body-body1 {
        gap: 10px;
        width: 1078px;
        height: auto;
        display: flex;
        padding: 10px;
        overflow: hidden;
        align-items: flex-start;
        flex-shrink: 0;
        background-color: rgba(255, 255, 255, 1);
      }
      .body-body2 {
        width: 1078px;
        height: 723px;
        display: flex;
        overflow: hidden;
        position: relative;
        align-items: flex-start;
        flex-shrink: 0;
      }
      .body-map {
        top: 181px;
        left: 641px;
        width: 120px;
        height: 104px;
        display: flex;
        overflow: hidden;
        position: absolute;
        align-items: flex-start;
        flex-shrink: 0;
      }
      .body-input-field1 {
        gap: 8px;
        top: 480px;
        left: 363px;
        width: 286px;
        height: 41px;
        display: flex;
        z-index: 1;
        position: absolute;
        align-items: flex-start;
        flex-shrink: 0;
        flex-direction: column;
      }
      .body-input1 {
        color: rgba(30, 30, 30, 1);
        display: flex;
        padding: 12px 16px;
        overflow: hidden;
        font-size: 16px;
        align-self: stretch;
        text-align: left;
        align-items: center;
        flex-shrink: 0;
       font-family: "Poppins", serif;
        font-weight: 400;
        border-color: rgba(217, 217, 217, 1);
        border-style: solid;
        border-width: 1px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 1);
      }
      .body-input-field2 {
        gap: 8px;
        top: 479px;
        left: 715px;
        width: 287px;
        height: 41px;
        display: flex;
        z-index: 2;
        position: absolute;
        align-items: flex-start;
        flex-shrink: 0;
        flex-direction: column;
      }
      .body-input2 {
        color: rgba(30, 30, 30, 1);
        display: flex;
        padding: 12px 16px;
        overflow: hidden;
        font-size: 16px;
        align-self: stretch;
        text-align: left;
        align-items: center;
        flex-shrink: 0;
       font-family: "Poppins", serif;
        font-weight: 400;
        border-color: rgba(217, 217, 217, 1);
        border-style: solid;
        border-width: 1px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 1);
      }
      .body-input-field3 {
        gap: 8px;
        top: 533px;
        left: 363px;
        width: 286px;
        height: 41px;
        display: flex;
        z-index: 3;
        position: absolute;
        align-items: flex-start;
        flex-shrink: 0;
        flex-direction: column;
      }
      .body-input3 {
        color: rgba(30, 30, 30, 1);
        display: flex;
        padding: 12px 16px;
        overflow: hidden;
        font-size: 16px;
        align-self: stretch;
        text-align: left;
        align-items: center;
        flex-shrink: 0;
       font-family: "Poppins", serif;
        font-weight: 400;
        border-color: rgba(217, 217, 217, 1);
        border-style: solid;
        border-width: 1px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 1);
      }
      .body-input-field4 {
        gap: 8px;
        top: 533px;
        left: 715px;
        width: 287px;
        height: 41px;
        display: flex;
        z-index: 4;
        position: absolute;
        align-items: flex-start;
        flex-shrink: 0;
        flex-direction: column;
      }
      .body-input4 {
        color: rgba(30, 30, 30, 1);
        display: flex;
        padding: 12px 16px;
        overflow: hidden;
        font-size: 16px;
        align-self: stretch;
        text-align: left;
        align-items: center;
        flex-shrink: 0;
       font-family: "Poppins", serif;
        font-weight: 400;
        border-color: rgba(217, 217, 217, 1);
        border-style: solid;
        border-width: 1px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 1);
      }
      .body-button-tomar-foto1 {
        gap: 8px;
        top: 420px;
        left: 383px;
        width: 189px;
        height: 39px;
        display: flex;
        padding: 12px;
        z-index: 5;
        overflow: hidden;
        position: absolute;
        align-items: center;
        flex-shrink: 0;
        border-color: rgba(191, 106, 2, 1);
        border-style: solid;
        border-width: 1px;
        border-radius: 8px;
        justify-content: center;
        background-color: rgba(242, 144, 47, 1);
      }
      .body-clock {
        width: 16px;
        height: 16px;
      }
      .body-text10 {
        color: rgba(245, 245, 245, 1);
        height: auto;
        text-align: left;
        line-height: 100%;
      }
      .body-button-tomar-foto2 {
        gap: 8px;
        top: 419px;
        left: 594px;
        width: 189px;
        height: 39px;
        display: flex;
        padding: 12px;
        z-index: 6;
        overflow: hidden;
        position: absolute;
        align-items: center;
        flex-shrink: 0;
        border-color: rgba(191, 106, 2, 1);
        border-style: solid;
        border-width: 1px;
        border-radius: 8px;
        justify-content: center;
        background-color: rgba(242, 144, 47, 1);
      }
      .body-x {
        width: 16px;
        height: 16px;
      }
      .body-text11 {
        color: rgba(245, 245, 245, 1);
        height: auto;
        text-align: left;
        line-height: 100%;
      }
      .body-button-tomar-foto3 {
        gap: 8px;
        top: 419px;
        left: 806px;
        width: 189px;
        height: 39px;
        display: flex;
        padding: 12px;
        z-index: 7;
        overflow: hidden;
        position: absolute;
        align-items: center;
        flex-shrink: 0;
        border-color: rgba(191, 106, 2, 1);
        border-style: solid;
        border-width: 1px;
        border-radius: 8px;
        justify-content: center;
        background-color: rgba(242, 144, 47, 1);
      }
      .body-clipboard {
        width: 20px;
        height: 20px;
      }
      .body-text12 {
        color: rgba(245, 245, 245, 1);
        height: auto;
        text-align: left;
        line-height: 100%;
      }
      .body-menu1 {
        top: 73px;
        left: 44px;
        width: 302px;
        height: 229px;
        display: flex;
        padding: 8px;
        z-index: 8;
        overflow: hidden;
        position: absolute;
        box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.10000000149011612) ;
        align-items: flex-start;
        flex-shrink: 0;
        border-color: rgba(255, 229, 229, 1);
        border-style: solid;
        border-width: 1px;
        border-radius: 8px;
        flex-direction: column;
        background-color: rgba(255, 235, 200, 1);
      }
      .body-menu-header1 {
        display: flex;
        padding: 8px 16px 4px;
        overflow: hidden;
        align-self: stretch;
        align-items: flex-start;
        flex-direction: column;
      }
      .body-text13 {
        color: rgba(117, 117, 117, 1);
        height: auto;
        align-self: stretch;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-text14 {
        color: rgba(30, 30, 30, 1);
        height: auto;
        align-self: stretch;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-menu-separator1 {
        display: flex;
        padding: 8px 16px;
        align-self: stretch;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
      .body-rule1 {
        width: auto;
        height: 1px;
        align-self: stretch;
      }
      .body-menu-section1 {
        display: flex;
        overflow: hidden;
        align-self: stretch;
        align-items: flex-start;
        border-radius: 8px;
        flex-direction: column;
      }
      .body-menu-item1 {
        gap: 12px;
        width: 285px;
        display: flex;
        padding: 12px 16px;
        overflow: hidden;
        align-items: flex-start;
        flex-shrink: 0;
        border-radius: 8px;
      }

      .body-alertoctagon1 {
        width: 20px;
        height: 20px;
      }
      .body-body3 {
        gap: 4px;
        width: 221px;
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        flex-shrink: 0;
        flex-direction: column;
      }
      .body-row1 {
        gap: 4px;
        display: flex;
        align-self: stretch;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
      }
      .body-text15 {
        color: rgba(30, 30, 30, 1);
        height: auto;
        flex-grow: 1;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-text16 {
        color: rgba(117, 117, 117, 1);
        height: auto;
        align-self: stretch;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-menu-item2 {
        gap: 12px;
        display: flex;
        padding: 12px 16px;
        overflow: hidden;
        align-self: stretch;
        align-items: flex-start;
        flex-shrink: 0;
        border-radius: 8px;
      }
      .body-alertoctagon2 {
        width: 20px;
        height: 20px;
      }
      .body-body4 {
        gap: 4px;
        width: 222px;
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        flex-shrink: 0;
        flex-direction: column;
      }
      .body-row2 {
        gap: 4px;
        display: flex;
        align-self: stretch;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
      }
      .body-text17 {
        color: rgba(30, 30, 30, 1);
        height: auto;
        flex-grow: 1;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-text18 {
        color: rgba(117, 117, 117, 1);
        height: auto;
        align-self: stretch;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-menu-separator2 {
        display: flex;
        padding: 8px 16px;
        align-self: stretch;
        align-items: center;
        border-radius: 8px;
        flex-direction: column;
        justify-content: center;
      }
      .body-rule2 {
        width: auto;
        height: 1px;
        align-self: stretch;
      }
      .body-menu2 {
        top: 321px;
        left: 44px;
        width: 302px;
        height: 374px;
        display: flex;
        padding: 8px;
        z-index: 9;
        overflow: hidden;
        position: absolute;
        box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.10000000149011612) ;
        align-items: flex-start;
        flex-shrink: 0;
        border-color: rgba(217, 217, 217, 1);
        border-style: solid;
        border-width: 1px;
        border-radius: 8px;
        flex-direction: column;
        background-color: rgba(255, 236, 200, 1);
      }
      .body-menu-header2 {
        display: flex;
        padding: 8px 16px 4px;
        overflow: hidden;
        align-self: stretch;
        align-items: flex-start;
        flex-direction: column;
      }
      .body-text19 {
        color: rgba(117, 117, 117, 1);
        height: auto;
        align-self: stretch;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-text20 {
        color: rgba(30, 30, 30, 1);
        height: auto;
        align-self: stretch;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-menu-separator3 {
        display: flex;
        padding: 8px 16px;
        align-self: stretch;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
      .body-rule3 {
        width: auto;
        height: 1px;
        align-self: stretch;
      }
      .body-menu-section2 {
        display: flex;
        overflow: hidden;
        align-self: stretch;
        align-items: flex-start;
        border-radius: 8px;
        flex-direction: column;
      }
      .body-menu-item3 {
        gap: 12px;
        width: 285px;
        display: flex;
        padding: 12px 16px;
        overflow: hidden;
        align-items: flex-start;
        flex-shrink: 0;
        border-radius: 8px;
      }
      .body-alignleft1 {
        width: 20px;
        height: 20px;
      }
      .body-body5 {
        gap: 4px;
        width: 221px;
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        flex-shrink: 0;
        flex-direction: column;
      }
      .body-row3 {
        gap: 4px;
        display: flex;
        align-self: stretch;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
      }
      .body-text21 {
        color: rgba(30, 30, 30, 1);
        height: auto;
        flex-grow: 1;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-menu-shortcut1 {
        display: flex;
        align-items: center;
        border-radius: 8px;
        justify-content: flex-end;
      }
      .body-text22 {
        color: rgba(117, 117, 117, 1);
        height: auto;
        align-self: stretch;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-menu-item4 {
        gap: 12px;
        display: flex;
        padding: 12px 16px;
        overflow: hidden;
        align-self: stretch;
        align-items: flex-start;
        flex-shrink: 0;
        border-radius: 8px;
      }
      .body-alignleft2 {
        width: 20px;
        height: 20px;
      }
      .body-body6 {
        gap: 4px;
        width: 222px;
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        flex-shrink: 0;
        flex-direction: column;
      }
      .body-row4 {
        gap: 4px;
        display: flex;
        align-self: stretch;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
      }
      .body-text23 {
        color: rgba(30, 30, 30, 1);
        height: auto;
        flex-grow: 1;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-text24 {
        color: rgba(117, 117, 117, 1);
        height: auto;
        align-self: stretch;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-menu-item5 {
        gap: 12px;
        display: flex;
        padding: 12px 16px;
        overflow: hidden;
        align-self: stretch;
        align-items: flex-start;
        flex-shrink: 0;
        border-radius: 8px;
      }
      .body-alignleft3 {
        width: 20px;
        height: 20px;
      }
      .body-body7 {
        gap: 4px;
        width: 222px;
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        flex-shrink: 0;
        flex-direction: column;
      }
      .body-row5 {
        gap: 4px;
        display: flex;
        align-self: stretch;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
      }
      .body-text25 {
        color: rgba(30, 30, 30, 1);
        height: auto;
        flex-grow: 1;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-menu-shortcut2 {
        display: flex;
        align-items: center;
        border-radius: 8px;
        justify-content: flex-end;
      }
      .body-text26 {
        color: rgba(117, 117, 117, 1);
        height: auto;
        align-self: stretch;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-menu-section3 {
        display: flex;
        align-self: stretch;
        align-items: flex-start;
        flex-direction: column;
      }
      .body-menu-item6 {
        gap: 12px;
        display: flex;
        padding: 12px 16px;
        overflow: hidden;
        align-self: stretch;
        align-items: flex-start;
        flex-shrink: 0;
        border-radius: 8px;
      }
      .body-alignleft4 {
        width: 20px;
        height: 20px;
      }
      .body-body8 {
        gap: 4px;
        width: 222px;
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        flex-shrink: 0;
        flex-direction: column;
      }
      .body-row6 {
        gap: 4px;
        display: flex;
        align-self: stretch;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
      }
      .body-text27 {
        color: rgba(30, 30, 30, 1);
        height: auto;
        flex-grow: 1;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-menu-shortcut3 {
        display: flex;
        align-items: center;
        border-radius: 8px;
        justify-content: flex-end;
      }
      .body-text28 {
        color: rgba(117, 117, 117, 1);
        height: auto;
        align-self: stretch;
        text-align: left;
        line-height: 139.9999976158142%;
      }
      .body-etiquetaplantilla-v2 {
        top: 589px;
        left: 409px;
        width: 240px;
        height: 63px;
        display: flex;
        z-index: 10;
        position: absolute;
        align-items: flex-start;
        flex-shrink: 0;
        flex-direction: column;
      }
      .body-image4 {
        top: 210px;
        left: 600px;
        width: 620px;
        height: 311px;
        z-index: 11;
        position: absolute;
        object-fit: cover;
        display: block;
      }

    .no-match-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
        display: block;
        }

    .modal {
        display: none; /* Initially hidden */
        position: fixed;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .modal-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 80%;
        max-width: 400px;
        text-align: center;
    }

    .modal-content p {
        margin: 0 0 10px;
        font-size: 16px;
    }

    #confirmButton {
        padding: 10px 20px;
        border: none;
        background-color: #FF9225;
        color: white;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
    }

    #confirmButton:hover {
        background-color: #b86a22;
    }


    .table {
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        overflow: hidden;
    }

    .table-hover tbody tr:hover {
        background-color: #f1f3f5;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f8f9fa;
    }

    .btn-outline-dark {
        border-radius: 25px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .form-select {
        width: 100%;
        max-width: 150px;
    }
